block append variables
  -
    var pageHeader = {
      title: 'Clearfix',
      description: 'Quickly and easily clear floated content within a container by adding a clearfix utility.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/utilities/clearfix/`,
      linkText: 'Clearfix on Bootstrap'
    }

mixin clearfix
  .bg-info.clearfix
    = '\n'
    button.btn.btn-secondary.float-left(type='button') Example Button floated left
    = '\n'
    button.btn.btn-secondary.float-right(type='button') Example Button floated right
    = '\n'
