block append variables
  -
    var pageHeader = {
      title: 'Embed',
      description: 'Create responsive video or slideshow embeds based on the width of the parent by creating an intrinsic ratio that scales on any device.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/utilities/embed/`,
      linkText: 'Embed on Bootstrap'
    }

mixin embedDoc
  h5.mb-2 Example
  p.mb-0 Rules are directly applied to 
    code &lt;iframe&gt;, 
    code &lt;embed&gt;, 
    code &lt;video&gt;, 
    | and 
    code &lt;object&gt; 
    | elements; optionally use an explicit descendant class 
    code .embed-responsive-item when you want to match the styling for other attributes.
mixin embed
  .embed-responsive.embed-responsive-16by9
    = '\n'
    iframe.embed-responsive-item(src='https://www.youtube.com/embed/zpOULjyy-n8?rel=0', allowfullscreen='')
    = '\n'
