block append variables
  -
    var pageHeader = {
      title: 'Stretched Link',
      description: 'Make any HTML element or Bootstrap component clickable by “stretching” a nested link via CSS.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/utilities/stretched-link/`,
      linkText: 'Stretched-link on Bootstrap'
    }

mixin stretchedDoc
  p Add 
    code .stretched-link 
    | to a link to make its containing block clickable via a 
    code ::after 
    | pseudo element. In most cases, this means that an element with 
    code position: relative; 
    | that contains a link with the 
    code .stretched-link 
    | class is clickable.
  p Cards have 
    code position: relative 
    | by default in Bootstrap, so in this case you can safely add the 
    code .stretched-link 
    | class to a link in the card without any other HTML changes.
  p Multiple links and tap targets are not recommended with stretched links. However, some 
    code position 
    | and 
    code z-index 
    | styles can help should this be required.
  
mixin stretchedLink
  .card(style='width: 18rem;')
    = '\n'
    img.card-img-top(src=`${CWD}assets/img/generic/1.jpg`, alt='...')
    .card-body
      h5.card-title Card with stretched link
      p.card-text
        | Some quick example text to build on the card title and make up the bulk of the card's content.
      a.btn.btn-primary.stretched-link(href='#') Go somewhere
