extends ../_skeleton-component
include mixins/_colors

block append variables
  - var firstParent = 'utilities'              
  - var currentPage = 'colors'

block component
  .card.shadow-sm.mb-3
    .card-body
      +PageHeader(pageHeader)
  
  .card.shadow-sm.mb-3
    .card-header
      h5.mb-0 Theme colors
    .card-body.bg-light
      .row.no-gutters
        each val, index in colors
          .col-6.col-sm-4.col-lg-3
            +colorPalette(val, index)
  .card.shadow-sm.mb-3
    .card-header
      h5.mb-0 Gray shades
    .card-body.bg-light
      .row.no-gutters
        each val, index in grays
          .col-6.col-sm-4.col-lg-3
            +colorPalette(val, index)
