extends ../_skeleton-component
include mixins/_display

block append variables
  - var firstParent = 'utilities'
  - var currentPage = 'display'

block component

  .card.shadow-sm.mb-3
    .card-body 
      +PageHeader(pageHeader)
   
  .card.shadow-sm.mb-3
    .card-header 
      h5.mb-0 Notation
    .card-body.bg-light
      +displayProperty
  .card.shadow-sm.mb-3
    .card-header
      h5.mb-0 Example
    .card-body.bg-light
      +componentCard
        .d-inline.bg-primary.p-2.text-white d-inline
        .d-block.bg-primary.p-2.text-white.mt-3 d-inline-block

  .card.shadow-sm.mb-3
    .card-header
      h5.mb-0 Hiding Elements
    .card-body.bg-light
      +displayInHide
  .card.shadow-sm.mb-3
    .card-header 
      h4.mb-3 Display in print
    .card-body.bg-light
      +displayPrint
      p The print and display classes can be combined.
      +componentCard
        .d-print-none Screen Only (Hide on print only)
        .d-none.d-print-block Print Only (Hide on screen only)
        .d-none.d-lg-block.d-print-block Hide up to large on screen, but always show on print




