extends ../_skeleton-component
include mixins/_figures

block append variables
  - var CWD = '../';
  - var firstParent = 'utilities'
  - var currentPage = 'figures'


block component
  .card.shadow-sm.mb-3
    .card-header
      +PageHeader(pageHeader)
   
  .card.shadow-sm.mb-3
    .card-header
      +figuresDoc
    .card-body.bg-light.overflow-hidden
      +componentCard
        +figures

