extends ../_skeleton-component
include mixins/_flex


block append variables
  - var firstParent = 'utilities'
  - var currentPage = 'flex'

block component
  .card.shadow-sm.mb-3
    .card-body
      +PageHeader(pageHeader)
    
  
  .card.shadow-sm.mb-3
    .card-header
      +flexBehaviorsDoc
    .card-body.bg-light
      +componentCard
        +flexBasic

  .card.shadow-sm.mb-3
    .card-header
      +flexDirectionDoc

    .card-body.bg-light
      +componentCard
        +flexDirection.flex-row
        +flexDirection.flex-row-reverse
      p.mt-3 Use 
        code .flex-column 
        | to set a vertical direction, or 
        code .flex-column-reverse 
        | to start the vertical direction from the opposite side
      +componentCard
        +flexDirection.flex-column
        +flexDirection.flex-column-reverse

        
    
  .card.shadow-sm.mb-3
    .card-header
      +flexJustifyContentDoc
    .card-body.bg-light
      +componentCard
        +flexJustifyContent
  .card.shadow-sm.mb-3
    .card-header
      +flexAlignItemDoc
    .card-body.bg-light
      +componentCard
        +flexAlignItem

  .card.shadow-sm.mb-3
    .card-header
      +flexAlignSelfDoc
    .card-body.bg-light
      +componentCard
        +flexAlignSelf("start").align-self-start
        +flexAlignSelf("end").align-self-end
        +flexAlignSelf("center").align-self-center
        +flexAlignSelf("baseline").align-self-baseline
        +flexAlignSelf("stretch").align-self-stretch
        

  .card.shadow-sm.mb-3
    .card-header 
      +flexFillDoc
    .card-body.bg-light
      +componentCard
        +flexFill
  .card.shadow-sm.mb-3
    .card-header
      +flexGrowShrinkDoc

    .card-body.bg-light
      +componentCard
        +flexShrink
  .card.shadow-sm.mb-3
    .card-header 
     +flexAutoMargin
    .card-body.bg-light
      +componentCard
        +flexMargin
  .card.shadow-sm.mb-3
    .card-header
      +flexAlignItemDoc
    .card-body.bg-light
      +componentCard
        +flexWithAlignItems.align-items-start
        +flexWithAlignItems.align-items-end
  .card.shadow-sm.mb-3
    .card-header
      +flexWrapDoc
    .card-body.bg-light
      +componentCard
        +flexNoWrap
        +flexWrap.flex-wrap
        +flexWrap.flex-wrap-reverse
        
  .card.shadow-sm.mb-3
    .card-header
      +flexOrderDoc
    .card-body.bg-light
      +componentCard
        +flexOrder
  .card.shadow-sm.mb-3
    .card-header
      +flexAlignContentDoc
    .card-body.bg-light
      +componentCard
        +flexAlignContent.align-content-start
        +flexAlignContent.align-content-center
        +flexAlignContent.align-content-end
        +flexAlignContent.align-content-between
        +flexAlignContent.align-content-around
        +flexAlignContent.align-content-stretch
        

  
  
