extends ../_skeleton-component
include mixins/_grid

block append variables
  - var firstParent = 'utilities'
  - var currentPage = 'grid'
  -
    var pageHeader = {
      title: 'Grid',
      description: "Use Bootstrap's powerful mobile-first flexbox grid to build layouts of all shapes and sizes thanks to a twelve column system, five default responsive tiers, Sass variables and mixins, and dozens of predefined classes",
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/layout/grid/`,
      linkText: 'Grid on Bootstrap'
    }

block component
  .card.shadow-sm.mb-3
    .card-header
      +PageHeader(pageHeader)
   
  
  .card.shadow-sm.mb-3
    .card-header
      h5 Grid options
      +gridDoc
    .card-body.bg-light
      +gridTable



  //.card.shadow-sm.mb-3
    .card-header
      h5.mb-0 Example
    .card-body.bg-light
      .row.no-gutters.grid-component
        .col-2 col-2
        .col-2 col-2
        .col-2 col-2
        .col-2 col-2
        .col-2 col-2
        .col-2 col-2

        .col-3 col-3
        .col-3 col-3
        .col-3 col-3
        .col-3 col-3

        .col-4 col-4
        .col-4 col-4
        .col-4 col-4

        .col-6 col-6
        .col-6 col-6

        .col-12 col-12

  //.card.shadow-sm.mb-3
    .card-header
      h5.mb-0 Responsive grid
    .card-body.bg-light
      .row.no-gutters.grid-component
        .col-sm-6.col-md-4.col-lg-3 col-sm-6 col-md-4 col-lg-4
        .col-sm-6.col-md-4.col-lg-3 col-sm-6 col-md-4 col-lg-4
        .col-sm-6.col-md-4.col-lg-3 col-sm-6 col-md-4 col-lg-4
        .col-sm-6.col-md-4.col-lg-3 col-sm-6 col-md-4 col-lg-4
      .row.no-gutters.grid-component
        .col-6.col-sm-4.col-md-3 col-6 col-sm-4 col-md-3
        .col-6.col-sm-4.col-md-3 col-6 col-sm-4 col-md-3
        .col-6.col-sm-4.col-md-3 col-6 col-sm-4 col-md-3
        .col-6.col-sm-4.col-md-3 col-6 col-sm-4 col-md-3
