extends ../_skeleton-component
include mixins/_spacing

block append variables
  - var firstParent = 'utilities'
  - var currentPage = 'spacing'

block component
  .card.shadow-sm.mb-3
    .card-body
      +PageHeader(pageHeader)
        +spacingDocHeaderDescription
  
  .card
    .card-body
      +spacingDoc
                
    
