extends ../_skeleton-component
include mixins/_stretched-link

block append variables
  - var CWD = '../';
  - var firstParent = 'utilities'
  - var currentPage = 'stretched-link'

block component
  .card.shadow-sm.mb-3
    .card-body
      +PageHeader(pageHeader)
   
  .card.shadow-sm.mb-3
    .card-header
      h5.mb-2 Example
      +stretchedDoc
    .card-body.bg-light.overflow-hidden
      +componentCard
        +stretchedLink
