extends ../_skeleton-component
include mixins/_background

block append styles
  link(href=`${CWD}assets/lib/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.css`, rel='stylesheet')

block append scripts
  script(src=`${CWD}assets/lib/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.js`)

block append variables
  - var firstParent = 'components'              
  - var currentPage = 'background'

block component
  .card.shadow-sm.mb-3
    .card-body
      +PageHeader(pageHeader)
  .card.shadow-sm.mb-3
    .card-header
      h5.mb-0 Image Background
    .card-body.bg-light
      +componentCard
        +backgroundImage
  .card.shadow-sm.mb-3
    .card-header
      h5.mb-0 Video Background
    .card-body.bg-light
      +componentCard
        +backgroundVideo
            
  .card.shadow-sm.mb-3#ytplayer
    .card-header
      +PageHeader(YTPlayerPageHeader)
    .card-body.bg-light
      +componentCard
        +backgroundYoutube
      h5.mt-4.mb-2 Stylesheet
      +componentCardLib
        link(href=`assets/lib/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.css`, rel='stylesheet')
      h5.mt-4.mb-2 Javascript
      +componentCardLib
        script(src=`assets/lib/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.js`)
