extends ../_skeleton-component

block append variables
  - var firstParent = 'components'              
  - var currentPage = 'breadcrumb'
  -
    var pageHeader = {
      title: 'Breadcrumb',
      description: 'Indicate the current page’s location within a navigational hierarchy that automatically adds separators via CSS.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/breadcrumb/`,
      linkText: 'Breadcrumb on Bootstrap'
    }
 
block component
  .card.shadow-sm.mb-3
    .card-body
      +PageHeader(pageHeader)

  .card.shadow-sm.mb-3
    .card-header
      h5.mb-0 Example
    .card-body.bg-light
      +componentCard
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item.active(aria-current='page') Home
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='#') Home
            li.breadcrumb-item.active(aria-current='page') Library
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='#') Home
            li.breadcrumb-item
              a(href='#') Library
            li.breadcrumb-item.active(aria-current='page') Data
