extends ../_skeleton-component
include mixins/_carousel

block append styles
  link(href=`${CWD}assets/lib/owl.carousel/owl.carousel.css`, rel='stylesheet')
block append scripts
  script(src=`${CWD}assets/lib/owl.carousel/owl.carousel.js`)

block append variables
  - var firstParent = 'components'
  - var currentPage = 'carousel'
  

block component
  .card.shadow-sm.mb-3
    .card-body
      +PageHeader(pageHeader)
    
  .card.shadow-sm.mb-3
    .card-header
      h5.mb-0 Basic Example
    .card-body.bg-light.overflow-hidden
      +componentCard
        +cardBasic
  .card.shadow-sm.mb-3
    .card-header
      h5.mb-0 With Captions
    .card-body.bg-light.overflow-hidden
      +componentCard
        +carouselWithCaption
  .card
    .card-header
      h5.mb-0 Fade Example
    .card-body.bg-light.overflow-hidden
      +componentCard
        +cardWithFade



