extends ../_skeleton-component
include mixins/_collapse


block append variables
  - var firstParent = 'components'              
  - var currentPage = 'collapse'

block component
  .card.shadow-sm.mb-3
    .card-body
      +PageHeader(pageHeader)
    
  
  .card.shadow-sm.mb-3
    .card-header
      h5.mb-0 Accordion Example
    .card-body.bg-light
      +componentCard
        +accordionExample
