extends ../_skeleton-component
include mixins/_card

block append variables
  - var firstParent = 'components'              
  - var currentPage = 'dropdowns'
  -
    var pageHeader = {
      title: 'Dropdown',
      description: 'Toggle contextual overlays for displaying lists of links and more with the Falcon dropdown plugin.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/dropdowns/`,
      linkText: 'Dropdown on Bootstrap'
    }


block component
  .card.shadow-sm.mb-3
    .card-body
      +PageHeader(pageHeader)
    
  .card.shadow-sm.mb-3
    .card-header
      h5.mb-0 Example
    .card-body.bg-light
      +componentCard
        .dropdown.text-sans-serif
          button#dropdownMenuButton.btn.btn-falcon-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown button
          .dropdown-menu.dropdown-menu-right.py-0(aria-labelledby='dropdownMenuButton')
            a.dropdown-item(href='#') Action
            a.dropdown-item(href='#') Another action
            a.dropdown-item(href='#') Something else here

