extends ../_skeleton-component
include mixins/_hoverbox


block append variables
  - var firstParent = 'components'              
  - var currentPage = 'hoverbox'
  -
    var pageHeader = {
      title:"Hoverbox",
      description: "Style your card with a different design using theme Hoverbox",
    }

block component
  .card.shadow-sm.mb-3
    .card-body
      +PageHeader(pageHeader)
    
  .row.no-gutters
    .col-lg-6.pr-lg-2
      .card.shadow-sm.mb-3
        .card-header
          h5.mb-3 Example
        .card-body.bg-light.overflow-hidden
          +componentCard
            +hoverboxBasic
    .col-lg-6.pl-lg-2
      .card.shadow-sm.mb-3
        .card-header
          h5.mb-3 Change Image
        .card-body.bg-light.overflow-hidden
          +componentCard
            +hoverboxImageChange
