extends ../_skeleton-component
include mixins/_list-group


block append variables
  - var firstParent = 'components'              
  - var currentPage = 'list-group'

block component
  .card.shadow-sm.mb-3
    .card-header
      +PageHeader(pageHeader)
    

  .row.no-gutters
    .col-lg-6.pr-lg-2
      .card.shadow-sm.mb-3
        .card-header
          h5.mb-0 Basic Example
        .card-body.bg-light
          +componentCard
            +listBasic
    .col-lg-6.pl-lg-2
      .card.shadow-sm.mb-3
        .card-header
          h5.mb-0 Active Item
        .card-body.bg-light
            +componentCard
              +listWithActive
    .col-lg-6.pr-lg-2
      .card.shadow-sm.mb-3
        .card-header
          h5.mb-0 List group flush
        .card-body.bg-light
          +componentCard
            +listGroupFlush

    .col-lg-6.pl-lg-2
      .card.shadow-sm.mb-3
        .card-header
          h5.mb-0 List group with badge
        .card-body.bg-light
          +componentCard
           +listWithBadge
    .col-lg-6.pr-lg-2
      .card.shadow-sm.mb-3
        .card-header
          h5.mb-0 List group background
        .card-body.bg-light
          +componentCard
            +listWithBackground
    .col-lg-6.pl-lg-2
      .card.shadow-sm.mb-3
        .card-header
          h5.mb-0 List group with Link
        .card-body.bg-light
          +componentCard
            +listWithLink
