extends ../_skeleton-component
include mixins/_modal


block append variables
  - var firstParent = 'components'              
  - var currentPage = 'modals'

block component
  .card.shadow-sm.mb-3
    .card-body
      +PageHeader(pageHeader)
    
  .card.shadow-sm.mb-3
    .card-header
      h5 Example
    .card-body.bg-light
      +componentCard
        // Button trigger modal
        = '\n'
        button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal') Launch demo modal
        // Modal
        +modal
