extends ../_skeleton-component

block append variables
  - var firstParent = 'components'              
  - var currentPage = 'notifications'

block append styles
  link(href=`${CWD}assets/lib/toastr/toastr.min.css`, rel='stylesheet')

block append scripts
  script(src=`${CWD}assets/lib/toastr/toastr.min.js`)

block component
  +PageHeader('Notifications')
    p.mt-2 Show different notification with #{theme}'s stylist notification components
    a(href='//codeseven.github.io/toastr/' target='_blank').btn.btn-link.pl-0.btn-sm  Toastr Final Documentation
      span.fas.fa-chevron-right.ml-1.fs--2
  .card.shadow-sm.mb-3
    .card-header
      h5.mb-0 Stylesheet
    .card-body.bg-light
      +componentCardLib
        link(href=`assets/lib/toastr/toastr.min.css`, rel='stylesheet')
  .card.shadow-sm.mb-3
    .card-header
      h5.mb-0 Javascript
    .card-body.bg-light
      +componentCardLib
        script(src=`assets/lib/toastr/toastr.min.js`)
  
  .row.no-gutters
    .col-xl-6.pr-xl-2
      .card.shadow-sm.mb-3
        .card-header
          h5.mb-0 Click to trigger
        .card-body.bg-light
          +componentCard
            = '\n'
            button.btn.btn-sm.btn-primary.m-1(data-notification!={title: 'Info:', message: 'I am done!'}) Info
            = '\n'
            button.btn.btn-sm.btn-success.m-1(data-notification!={type: 'success', message: 'I am done successfully!', progressBar: true}) Success
            = '\n'
            button.btn.btn-sm.btn-warning.m-1(data-notification!={type: 'warning', title: 'Warning:', message: 'Are you sure?'}) Warning
            = '\n'
            button.btn.btn-sm.btn-danger.m-1(data-notification!={type: 'error', title: 'Error:', message: 'Something went worng!'}) Error
            = '\n'
    .col-xl-6.pl-xl-2
      .card.shadow-sm.mb-3
        .card-header
          h5.mb-0 Position
        .card-body.bg-light
          +componentCard
            = '\n'
            button.btn.btn-sm.btn-primary.m-1(data-notification!={ positionClass: 'toast-top-left', message: 'Top left Notification!' }) Top Left
            = '\n'
            button.btn.btn-sm.btn-primary.m-1(data-notification!={ positionClass: 'toast-top-right', message: 'Top Right Notification!' }) Top Right
            = '\n'
            button.btn.btn-sm.btn-primary.m-1(data-notification!={ positionClass: 'toast-bottom-right', message: 'Bottom Right Notification!' }) Bottom Right
            = '\n'
            button.btn.btn-sm.btn-primary.m-1(data-notification!={ positionClass: 'toast-bottom-left', message: 'Bottom Left Notification!' }) Bottom Left
            = '\n'
