extends ../_skeleton-component
include mixins/_pagination

block append variables
  - var firstParent = 'components'              
  - var currentPage = 'pagination'

block component
  .card.shadow-sm.mb-3
    .card-body
      +PageHeader(pageHeader)
    

  .row.no-gutters
    .col-xl-6.pr-xl-2
      .card.shadow-sm.mb-3
        .card-header
          h5.mb-0 Example with text
        .card-body.bg-light
          +componentCard
            +paginationText
    .col-xl-6.pl-xl-2
      .card.shadow-sm.mb-3
        .card-header
          h5.mb-0 Example with icon
        .card-body.bg-light
          +componentCard
            +paginationIcon
  .card.shadow-sm.mb-3
    .card-header
      h5.mb-1 Sizing
      p.mb-0 Fancy larger or smaller pagination add
        code .pagination-lg 
        | or
        code .pagination-sm 
        | for additional sizes.        
    .card-body.bg-light
      +componentCard
        +paginationSize.pagination-lg
        +paginationSize
        +paginationSize.pagination-sm
        
                
        
