extends ../_skeleton-component
include mixins/_progress-bar

block append variables
  - var firstParent = 'components'              
  - var currentPage = 'progress'
    
block append scripts
  script(src=`${CWD}assets/lib/progressbar.js/progressbar.min.js`)
  
block component
  .card.shadow-sm.mb-3
    .card-body
      +PageHeader(pageHeader)
   
  .row.no-gutters
    .col-xl-6.pr-xl-2
      .card.shadow-sm.mb-3
        .card-header
          h5.mb-0 Basic Example
        .card-body.bg-light
          +componentCard
            +progressbarBasic
    .col-xl-6.pl-xl-2
      .card.shadow-sm.mb-3
        .card-header
          .h5.mb-0 Label
        .card-body.bg-light
          +componentCard
            +progressbarBasic({value: 50,display:true})
        
  .card.shadow-sm.mb-3
    .card-header
      .h5.mb-0 Height
    .card-body.bg-light
      +componentCard
        +progressbarBasic({ height:1})
        +progressbarBasic({ height:10})
        +progressbarBasic({ height:20})

  .card.shadow-sm.mb-3
    .card-header
      .h5.mb-0 Background
    .card-body.bg-light
      +componentCard
        +progressbarBasic({value: 30}).bg-success
        +progressbarBasic({value: 40}).bg-info
        +progressbarBasic({value: 50}).bg-warning
        +progressbarBasic({value: 60}).bg-danger
  .card.shadow-sm.mb-3
    .card-header
      .h5.mb-0 Multiple bars
    .card-body.bg-light
      +componentCard
        +progressbarMultiColor
 
  .card.shadow-sm.mb-3
    .card-header
      .h5.mb-0 Striped
    .card-body.bg-light
      +componentCard
        +progressbarBasic({value: 30}).bg-success.progress-bar-striped
        +progressbarBasic({value: 40}).bg-info.progress-bar-striped
        +progressbarBasic({value: 50}).bg-warning.progress-bar-striped
        +progressbarBasic({value: 60}).bg-danger.progress-bar-striped
        +progressbarBasic({value: 70}).bg-primary.progress-bar-striped

  .card
    .card-header
      .h5.mb-0 Animated
    .card-body.bg-light
      +progressbarBasic#progress-toggle.progress-bar-striped
      button.btn.btn-secondary.btn-sm.mt-2#progress-toggle-animation(type='button') Toggle Animation
      +componentCardLib
        +progressbarBasic.progress-bar-striped.progress-bar-animated
        
