extends ../_skeleton-component
include mixins/_table

block append variables
  - var firstParent = 'components'              
  - var currentPage = 'tables'
 
block component
  .card.shadow-sm.mb-3
    .card-body
      +PageHeader(pageHeader)
  
  .row.no-gutters
    .col-lg-6.pr-lg-2

      .card.shadow-sm.mb-3
        .card-header
          h5.mb-0 Example
        .card-body.bg-light
          +componentCard
            +table
    .col-lg-6.pl-lg-2
      .card.shadow-sm.mb-3
        .card-header
          h5.mb-0 Dark
        .card-body.bg-light
          +componentCard
            +table.table-dark
            
    .col-lg-6.pr-lg-2
      .card.shadow-sm.mb-3
        .card-header
          h5.mb-0 Header Dark
        .card-body.bg-light
          +componentCard
            +table('thead-dark')
            
    .col-lg-6.pl-lg-2
      .card.shadow-sm.mb-3
        .card-header
          h5.mb-0 Header Light
        .card-body.bg-light
          +componentCard
            +table('thead-light')
    .col-lg-6.pr-lg-2
      .card.shadow-sm.mb-3
        .card-header
          h5.mb-0 Table Striped
        .card-body.bg-light
          +componentCard
            +table.table-striped
           
                
    .col-lg-6.pl-lg-2
      .card.shadow-sm.mb-3
        .card-header
          h5.mb-0 Table Hover
        .card-body.bg-light
          +componentCard
            +table.table-hover
