extends ../_skeleton-component
include mixins/_tooltips

block append variables
  - var firstParent = 'components'              
  - var currentPage = 'tooltips'
 
block component
  .card.shadow-sm.mb-3
    .card-body
      +PageHeader(pageHeader)
    

  .card.shadow-sm.mb-3
    .card-header
      h5.mb-0 Example
    .card-body.bg-light
      +componentCard
        +tooltips({
          placement: 'top',
          text: 'Tooltip on top'
        })
        +tooltips({
          placement: 'right',
          text: 'Tooltip on right'
        })
        +tooltips({
          placement: 'bottom',
          text: 'Tooltip on bottom'
        })
        +tooltips({
          placement: 'left',
          text: 'Tooltip on left'
        })
        +tooltips({
          placement: 'top',
          text: 'Tooltip with HTML'
        })(data-html='true' title="<em>Tooltip</em> <u>with</u> <b>HTML</b>")
        
        
