mixin about
	+section.bg-light.py-5.py-md-8#about
		.row.align-items-center
			.col-md.px-xl-7.p-xxl-8.order-md-1.mb-4.mb-md-0.pl-md-4
				//-- Heading
				h2 Start your project 
					br
					span.text-success.mt-2.d-block Why choose us? 
				p.text-muted 2 Million+ users from all around the globe use our templates. Our flexible components and the vast library will make it an almost no-brainer job for developers and creators.
				.row
					.col-md-auto.pr-xl-6
						.d-flex
							span.mr-2
								svg.bi.bi-check-circle(width='.8em', height='.8em', viewBox='0 0 16 16', fill='#389E7F', xmlns='http://www.w3.org/2000/svg')
									path(fill-rule='evenodd', d='M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z')
									path(fill-rule='evenodd', d='M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z')

							p.text-success Lifetime free updates
						.d-flex
							span.mr-2
								svg.bi.bi-check-circle(width='.8em', height='.8em', viewBox='0 0 16 16', fill='#389E7F', xmlns='http://www.w3.org/2000/svg')
									path(fill-rule='evenodd', d='M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z')
									path(fill-rule='evenodd', d='M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z')

							p.text-success Based on Bootstrap 5
					.col-md-auto
						.d-flex
							span.mr-2
								svg.bi.bi-check-circle(width='.8em', height='.8em', viewBox='0 0 16 16', fill='#389E7F', xmlns='http://www.w3.org/2000/svg')
									path(fill-rule='evenodd', d='M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z')
									path(fill-rule='evenodd', d='M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z')

							p.text-success Tech support
						.d-flex
							span.mr-2
								svg.bi.bi-check-circle(width='.8em', height='.8em', viewBox='0 0 16 16', fill='#389E7F', xmlns='http://www.w3.org/2000/svg')
									path(fill-rule='evenodd', d='M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z')
									path(fill-rule='evenodd', d='M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z')

							p.text-success Fully Responsive
				//- .row
			.col-lg-auto.col-md-5
				//- Card
				.card.hover-top-shadow.hover-top-shadow-lg.border-0.card-form
					img.card-img-top.card-img-curve(src=`${CWD}assets/img/gallery/photo-2.png` alt='')
					.card-body.p-4.pt-5
						form
							.mb-4
								input#cardName.form-control(type='text' placeholder='Name')
							.mb-4
								input#cardEmail.form-control(type='email' placeholder='Email')
							.mb-4
								input#cardPassword.form-control(type='password' placeholder='Password')
							button.btn.btn-block.btn-success.text-white(type='submit')
								| Download a sample
		//-.row
		.row.align-items-center.mt-md-8.mt-5
			.col-md-7.col-lg-6.pr-lg-4.pr-xl-7
				//- Heading
				h2 We are a team of ardent
					br
					span.text-primary designers and developers
						|.	
				p.text-muted.mb-4  Hundreds of thousands of the developers and website owners build their website using the templates from ThemeWagon.
				.d-flex.align-items-start
					img(src=`${CWD}assets/img/gallery/folder_plus.png` alt='' width='30' height='30')
					.ml-3
						h5 Build fast, responsive sites with Bootstrap
						p.text-muted.mb-4 We believe in excellence & you will find the reflection of our belief in our product, services, support.
				.d-flex.align-items-start
					img(src=`${CWD}assets/img/gallery/layer.png` alt='' width='30' height='30')
					.ml-3.mb-3
						h5 Start your project with us
						p.text-muted.mb-6.mb-md-0 Our work doesn't end with the making of excellent products. We continue to thrive by helping our clients.
			.col-md-5.col-lg-6
				img.img-fluid.img-skew(src=`${CWD}assets/img/gallery/falcon.png` alt='')
