mixin cta
	section.bg-dark.py-8
		.container
			.row.justify-content-center
				.col-md-10.col-lg-8.text-center
					//- Badge
					span.badge.mb-4.font-weight-normal.text-uppercase.bg-light.text-primary Get started
					//- Heading
					h2.display-6.text-white Get Bridge and save  time.
					//- Text
					p.text-muted.mb-4.mb-md-6 our team has front-end and back-end experience to design and build intuitive systems that stores and presents a ton of information in the most user-friendly way.
					//- Button
					a.btn.btn-lg.btn-success.hover-top-shadow.text-white(href='!#' ) Buy it now 
						svg.bi.bi-arrow-right-short(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
							path(fill-rule='evenodd', d='M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z')
							path(fill-rule='evenodd', d='M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z')
		.shape-arc-down
			svg(xmlns='http://www.w3.org/2000/svg' width="100%" height="50%" viewbox='0 0 1440 320' )
				path(fill='#091A2B' fill-opacity='1'  d='M0,224L120,229.3C240,235,480,245,720,245.3C960,245,1200,235,1320,229.3L1440,224L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z')
			




