mixin footer
  +section.text-center.border-top.footer-text.py-3
    | Made with ❤️ by 
    a.text-500.text-decoration-none(href='https://themewagon.com/')  ThemeWagon 
  

mixin pre-footer
  section.py-7
    .container
      .row
        .col-md-4.col-lg-3
          h4.text-primary.font-weight-bold Bridge
          //- Text
          p.mb-2.text-muted
            | Where design connects <br> with excellence.
          //- Social
          ul.list-unstyled.list-inline.mb-6.mb-md-0
            li.list-inline-item.mr-2
              a.text-decoration-none(href='#!')
                img.list-social-icon(src=`${CWD}assets/img/gallery/facebook.svg` alt='' width=25)
            li.list-inline-item.mr-2
              a.text-decoration-none(href='#!')
                img.list-social-icon(src=`${CWD}assets/img/gallery/linkedin.svg` alt=''  width=25)
            li.list-inline-item.mr-2
              a.text-decoration-none(href='#!')
                img.list-social-icon(src=`${CWD}assets/img/gallery/instagram.svg` alt=''  width=25)
            li.list-inline-item
              a.text-decoration-none(href='#!')
                img.list-social-icon(src=`${CWD}assets/img/gallery/github.svg` alt=''  width=25)
        .col-6.col-md-4.col-lg-2
          //- Heading
          h6.footer-title
            | Products
          //- List
          ul.list-unstyled.mb-6.mb-md-4.mb-lg-0
            li.mb-2.mb-lg-2
              a.text-500.text-decoration-none(href='#!')
                | Page Builder
            li.mb-2.mb-lg-2
              a.text-500.text-decoration-none(href='#!')
                | UI Kit
            li.mb-2.mb-lg-2
              a.text-500.text-decoration-none(href='#!')
                | Styleguide
            li.mb-2.mb-lg-2
              a.text-500.text-decoration-none(href='#!')
                | Documentation
            li
              a.text-500.text-decoration-none(href='#!')
                | Changelog
        .col-6.col-md-4.col-lg-2
          //- Heading
          h6.footer-title
            | Services
          //- List
          ul.list-unstyled.mb-6.mb-md-4.mb-lg-0
            li.mb-2.mb-lg-2
              a.text-500.text-decoration-none(href='#!')
                | Documentation
            li.mb-2.mb-lg-2
              a.text-500.text-decoration-none(href='#!')
                | Changelog
            li.mb-2.mb-lg-2
              a.text-500.text-decoration-none(href='#!')
                | Pagebuilder
            li
              a.text-500.text-decoration-none(href='#!')
                | UI Kit
        .col-6.col-md-4.offset-md-4.col-lg-2.offset-lg-0
          //- Heading
          h6.footer-title
            | Connect
          //- List
          ul.list-unstyled.mb-0
            li.mb-2.mb-lg-2
              a.text-500.text-decoration-none(href='#!')
                | Page Builder
            li.mb-2.mb-lg-2
              a.text-500.text-decoration-none(href='#!')
                | UI Kit
            li.mb-2.mb-lg-2
              a.text-500.text-decoration-none(href='#!')
                | Styleguide
            li.mb-2.mb-lg-2
              a.text-500.text-decoration-none(href='#!')
                | Documentation
            li.mb-2.mb-lg-2
              a.text-500.text-decoration-none(href='#!')
                | Changelog
            li.mb-2.mb-lg-2
              a.text-500.text-decoration-none(href='#!')
                | Documentation
        .col-6.col-md-4.col-lg-2
          //- Heading
          h6.footer-title
            | Legal
          //- List
          ul.list-unstyled.mb-0
            li.mb-2.mb-lg-2
              a.text-500.text-decoration-none(href='#!')
                | Documentation
            li.mb-2.mb-lg-2
              a.text-500.text-decoration-none(href='#!')
                | Changelog
            li
              a.text-500.text-decoration-none(href='#!')
                | Pagebuilder 
  +footer                     
              