mixin shape
	.shape-arc-up
		svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1440 220')
			path(fill='#091A2B' fill-opacity='1' d='M0,128L120,133.3C240,139,480,149,720,144C960,139,1200,117,1320,106.7L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z')