mixin stats
	+section.bg-light.pt-12.pt-md-10.pt-xl-8.pt-xxl-6
		.row.align-items-center
			.col-md-5.col-lg-6.mb-4.mb-md-0.order-md-1
				img.img-fluid(src=`${CWD}assets/img/gallery/illustration-2.png` alt='')
			.col-md-7.col-lg-6.pt-2.pt-sm-0
				h2 Set projects to excellence. 
					br
					span.text-primary We will do the design
					| .
				p.text-muted.pr-lg-8 We always enjoy exciting projects that are challenging and original. No matter the task is, we are up to it. With a clean design and fresh features, we will blow your mind
				//- Stats
				.row
					.col-auto.border-right.pr-3.pr-lg-4
						h3.mb-0
							span.counter 100
							| %
						p.text-muted.mb-0 Satisfaction

					.col-auto.border-right.px-3.px-lg-4
						h3.mb-0
							span.counter 24
							| /
							span.counter 7
						p.text-muted.mb-0 Support

					.col-auto.pl-3.pl-lg-4
						h3.mb-0
							span.counter 100k+
						p.text-muted.mb-0 Sales
