extends ../_skeleton-component

block append variables
  - var firstParent = 'documentation'              
  - var currentPage = 'customization'
  -
    var pageHeader = {
      title: 'Customization',
      description: 'We recommend you customize your theme styles using SCSS. You can customize the theme\'s styles with the two following approaches:',
    }

block component
  .card.shadow-sm.mb-3
    .card-body
      +PageHeader(pageHeader)
      
  .card.shadow-sm.mb-3
    .card-header
      h5.mb-0
        code _user.scss
    .card-body.bg-light
      p.mb-0 You can add your own SCSS and override the theme style in the 
        code scss/_user.scss
        |  file.
  .card.shadow-sm.mb-3
    .card-header
      h5.mb-0
        code _user-variables.scss
    .card-body.bg-light
      p.mb-0 To make broader changes to the design of the theme, such as changing the color scheme or font sizes, use 
        code scss/_user-variables.scss
        | . Any variable from 
        code scss/bootstrap/_variables.scss
        |  or 
        code scss/custom/_variables.scss
        |  can be overridden with your own value.
    
    
