body {
    margin: 0;
    font-family: HKGroteskPro,serif;
    font-size: 1.0625rem;
    font-weight: 500;
    line-height: 1.6;
    color: #161c2d;
    text-align: left;
    background-color: #fff;
}

.font-size-lg {
  font-size: 1.1875rem!important;
}
.text-justify {
  text-align: justify!important;
}
.text-500{
  color: #506690 !important;
}
p {
  color: #869AB8!important;
}
h1 {
  line-height: 1.3;
}
.display-3 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
}
.lift {
  -webkit-transition: box-shadow .25s ease,-webkit-transform .25s ease;
  transition: box-shadow .25s ease,-webkit-transform .25s ease;
  transition: box-shadow .25s ease,transform .25s ease;
  transition: box-shadow .25s ease,transform .25s ease,-webkit-transform .25s ease;
}
/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  box-shadow: 0.5rem .5rem 1.5rem  rgba(22,28,45,.1)!important;
}
/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  /* background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%); */
  /* background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%); */
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  box-shadow: 0.5rem .5rem 1.5rem  rgba(22,28,45,.1)!important;
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Skew Forward */
.hvr-skew-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(200px) translateY(80deg);
  transform: perspective(200px) translateY(80deg);
  box-shadow: 0.5rem .5rem 1.5rem  rgba(61, 91, 189, 0.1)!important;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: skew(-5deg);
  transform: skew(-5deg);
}
/* .hvr-skew-forward:hover, .hvr-skew-forward:focus, .hvr-skew-forward:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
} */
.btn {
  display: inline-block;
  /* font-weight: 600; */
  color: #161c2d;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .8125rem 1.25rem;
  font-size: 1.0625rem;
  line-height: 1.6;
  border-radius: .375rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-sm {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.35rem;
}
.btn-primary {
  color: #fff;
  background-color: #335eea;
  border-color: #335eea;
  box-shadow: none;
}
.btn-primary-soft {
  background-color: rgba(51,94,234,.1);
  color: #335eea;
}
.shadow {
  box-shadow: 0 .5rem 1.5rem rgba(22,28,45,.1)!important;
}
.mr-1, .mx-1 {
  margin-right: .25rem!important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 400;
  line-height: 1; 
}
.ml-8 {
  margin-left: 7rem !important;
}
.lead {
  font-size: 1.3125rem;
  font-weight: 400;
}
.text-muted {
  color: #6c757d !important;
}
.text-gray-700 {
  color: #506690!important;
}
.pt-10, .py-10 {
  padding-top: 5rem!important;
}
.pt-md-12, .py-md-12 {
  padding-top: 8rem!important;
}
.pb-md-8, .py-md-8 {
  padding-bottom: 2rem!important;
}
.pt-md-11, .py-md-11 {
  padding-top: 7rem!important;
}
.pt-md-12, .py-md-12 {
  padding-top: 14rem!important;
}
.mt-n15, .my-n15 {
  margin-top: -22rem!important;
}
.py-6{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pb-6{
  /* padding-top: 2rem; */
  padding-bottom: 3rem;
}
.py-8{
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}
.pt-15, .py-15 {
  padding-top: 16rem!important;
}
.mt-n11 {
  margin-top: -13rem !important;
}
a{
  text-decoration: none;
}
.mb-n14 {
  margin-bottom: -14rem !important;
}
.mt-8, .mt-md-8{
  padding-top: 6rem!important;
}
.bg-dark {
  background-color: #1b2a4e!important;
}
.text-success{
  color: #42ba96 !important; 
}
.btn-success{
  color: #fff;
  background-color: #42ba96;
  border-color: #42ba96;
}
.btn-success:hover {
  color: #fff;
  background-color: #42ba96;
  border-color: #42ba96;
}
.btn-success:focus {
  color: #fff;
  background-color: #42ba96;
  border-color: #42ba96;
}
.text-gray-600 {
  color: #869ab8!important;
}

.navbar-light .navbar-nav .nav-link {
  color: #506690;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  .badge-gray-700-soft {
    background-color: rgba(80,102,144,.1);
    color: #506690;
}
/* 
  .dropdown-menu-xl{
    padding: 20px 0px;
    width:100%;
    background-color: rgb(134, 135, 148);
  } */

  .dropdown-menu-xl-li {
	position: static;
}

.dropdown-menu-xl {
	position: inherit;
	width: 65%;
	left: 0;
	right: 0;
	/* padding: 15px; */
}
.navbar-nav .dropdown-menu-xl .dropdown-body {
  padding: 2.375rem 2.5rem;
}
.navbar-nav .dropdown-img-left {
    height: 100%;
    /* display: none; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 1.625rem 1.75rem;
    background-size: cover;
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
    z-index: 1000;
    background:
    linear-gradient(
      rgba(2, 87, 213),
      rgba(25, 96, 211, 0.6)
    ),
    url("https://images.unsplash.com/photo-1525296143957-b62256c593bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80") !important;
    /* background: url('/assets/image/photo-3.jpg') no-repeat center center/cover; */
    /* background: linear-gradient(rgb(38, 0, 255), rgb(93, 146, 245)) !important; */
    /* background-image: linear-gradient(to right, rgba(2,87,213), rgba(25,96,211,0.6)); */
    /* background:  linear-gradient(
      rgb(2, 87, 213), 
     rgb(25, 96, 211, 0.6)
    ), */
    /* url('/assets/image/photo-3.jpg'); */
    /* background: url('/assets/image/photo-3.jpg') no-repeat center center/cover; */
    
    
    /* background-color: rgba(25, 28, 211, 0.6) !important; */
}



/* .rounded-lg-custom{
    border-radius: .375rem;
} */
.navbar-nav .dropdown-img-left * {
  position: relative;
}
/* .dropdown-item {
  width: auto;
  min-width: 100%;
  margin-left: -1.75rem;
  margin-right: -1.75rem;
} */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 14rem;
    padding: 1.625rem 0;
    margin: 0 0 0;
    font-size: .9375rem;
    color: #161c2d;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(22,28,45,.15); 
    border-radius: .375rem;
    box-shadow: 0 0.5rem 1.5rem rgba(22,28,45,.1);
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0 1.75rem;
  clear: both;
  font-weight: 400;
  color: #506690;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #1b78ca;
  white-space: nowrap;
}

.blue-overlay{
  background: rgba(25, 28, 211, 0.6);

}

@media (min-width: 992px){
.navbar-nav .dropdown.show>.dropdown-menu {
  -webkit-transform: translate3d(-50%,0,0);
  transform: translate3d(-50%,0,0);
}   
}

.navbar-nav .dropdown-menu .list-group-item:hover {
  text-decoration: none;
}

.navbar-nav .dropdown-menu .list-group-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: inherit;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
}
}
.pt-md-13, .py-md-13 {
  padding-top: 10rem!important;
}

.typed-cursor {
  color: #42ba96 !important;
}

.bg-gray-200 {
  background-color: #f1f4f8!important;
}

.section-6{
  height:500px;
  background: linear-gradient(to bottom right, #498feb, #c73b3b);
}
.card-z-index{
  z-index:1;
}
.card-btn:last-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.curved svg{
  display:block;
  bottom: 0 !important;
}
.shape-bottom {
  right: 0;
  bottom: 0 !important;
  left: 0;
}
.shape:not([class*=shape-blur]) {
  overflow: hidden;
}
.shape {
  /* position: absolute; */
  pointer-events: none;
}

.shape-slider{
  z-index: -1;
}
/* .slider{
  z-index: -1;
} */
.testimonials{
  z-index: 1;
}

.card-img-custom {
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 50% 3%;
  border-bottom-right-radius: 50% 3%;
}

.form-control{
  width: 350px;
  /* background: transparent; */
  border:none;
  border-radius: 0;
  color: #869AB8;
  font-size: 18px;
  margin-bottom: 16px;
  border-bottom: 1px solid #F1F4F8;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;

}
.form-control:focus{
  border-bottom: #869AB8;
  border: none;
}
.form-control:active{
  border: none;
}


