extends _skeleton-theme
block append variables
  - var currentPage = 'index';

block append content
  +header
  +features
  +brands
  +about
  +testimonials
  section.bg-light.pt-10.pt-md-0
    +stats
  section.pt-5.pt-md-8.bg-light
    +pricingCard 
  +shape
  section.bg-dark.mb-0
    +faq
  section.bg-dark
    +cta
  //-SHAPE
  +shapeDown
  