extends _skeleton-theme

block append content
  section
    +dropdownNav 
  section.welcome.pt-md-8.overflow-hidden(data-zanim-timeline='{"delay":0}' data-zanim-trigger='scroll')
    +welcome
  section.py-8.border-bottom.overflow-hidden(data-zanim-timeline='{"delay":0.9}' data-zanim-trigger='scroll')
    +features
  section.py-5.border-bottom
    +brands
  section.pt-4.pt-md-8.bg-light.pb-5(data-zanim-timeline={ delay: 0.5 },data-zanim-trigger="scroll")
    +aboutSection
  section.pt-8.testimonials
    +testimonials
  section.bg-gray-200.section-7
    +stats
  section.pt-5.pt-md-8.bg-gray-200
    +pricingCard
  +shape
  section.pt-5.bg-dark
    +faq
  section.pt-5.bg-dark
    +cta
  //-SHAPE
  +shapeDown
  footer.bg-gray-200
    +footer