extends _skeleton-theme

block append variables
  - var ATTRS_HTML = { lang:'en-US', dir: 'rtl' };

block append content
  +section.py-0
    .row.flex-center.min-vh-100
      .col
        h1 Get started!
