extends _skeleton-theme

block append content
  section
    +dropdownNav 
  section.welcome.overflow-hidden
    +welcome
  section.pb-md-4.border-bottom.overflow-hidden
    +features
  section.py-6.border-bottom
    +brands
  section.pt-4.pt-md-8.bg-light.pb-5
    +aboutSection
  section.pt-8
    +testimonials
  section.bg-light.pt-6.pt-md-0
    +stats
  section.pt-5.pt-md-8.bg-light
    +pricingCard
  +shape
  section.bg-dark
    +faq
  section.bg-dark
    +cta
  //-SHAPE
  +shapeDown
  footer.pb-6
    +footer