extends _skeleton-theme
include mixins/_page-header
include mixins/_cards
include mixins/_header
include mixins/_features
include mixins/_brands
include mixins/_about
include mixins/_testimonials
include mixins/_stats
include mixins/_pricing
include mixins/_faq
include mixins/_cta
include mixins/_shapedown
block append variables
  - var currentPage = 'index';

block append content
  +header
  +features
  +brands
  +about
  +testimonials
  +stats
  +pricingCard 
  +faq
  +cta
  
  