extends _skeleton-theme
block append variables
  - var currentPage = 'index';

block append content
  +header
  +features
  +brands
  +about
  +testimonials
  +stats
  +pricingCard 
  +faq
  +cta
  
  