.badge-rounded-circle.badge-lg {
  height: calc(1em + 1.3em);
  padding-left: .8em;
  padding-right: .8em;
}
.badge-lg {
  padding: .7em 1.15em;
}
.badge-rounded-circle {
  height: calc(1em + 1.1rem);
  padding-left: .25rem;
  padding-right: .25rem;
  border-radius: 10rem;
}