

//button success
.btn-success {
  color: #ffffff;
  background-color: #00BD77;
  border-color: #00BD77;
}

// .something-sucess{
//   color: color-contrast(#28a745);
// }

//footer 
@media (min-width: 992px)
 {
  .mw-lg-130{
    max-width: 130%!important;
  }
    
}



