/*-----------------------------------------------
|   Table
-----------------------------------------------*/
.white-space-nowrap{
  width: 1px;
  white-space: nowrap;
}
th{ font-weight: $font-weight-semi-bold; }
