///*-----------------------------------------------
//|   Breakpoints
//-----------------------------------------------*/
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1480px,
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1540px,
) !default;

//*-----------------------------------------------
//|   Color System
//-----------------------------------------------*/
$white: #fff !default;
$gray-100: #f9fafd !default;
$gray-200: #EAEFFD !default;
$gray-300: #F1F4F8 !default;
$gray-400: #A4B3CA !default;
$gray-500: #8191AF !default;
$gray-600: #748194 !default;
$gray-700: #5e6e82 !default;
$gray-800: #4d5969 !default;
$gray-900: #344050 !default;
$gray-1000: #203055 !default;
$gray-1100: #1b2a4e !default;
$black: #161C2D !default;

$grays: () !default;
$grays: map_merge($grays, (
  'black': $black,
  '100': $gray-100,
  '200': $gray-200,
  '300': $gray-300,
  '400': $gray-400,
  '500': $gray-500,
  '600': $gray-600,
  '700': $gray-700,
  '800': $gray-800,
  '900': $gray-900,
  '1000': $gray-1000,
  '1100': $gray-1100,
  'white': $white,
));

//*-----------------------------------------------
//|   Solid Colors
//-----------------------------------------------*/
////$blue: #2c7be5 !default;
//$indigo: #727cf5 !default;
////$purple: #6b5eae !default;
////$pink: #ff679b !default;
////$red: #e63757 !default;
////$orange: #fd7e14 !default;
////$yellow: #f5803e !default;
////$green: #00d27a !default;
////$teal: #02a8b5 !default;
//$cyan: #39afd1 !default;

$blue: #335eea !default;
$purple: #5856d6 !default;
$pink: #ff2d55 !default;
$red: #ff3b30 !default;
$orange: #ff9500 !default;
$yellow: #ffcc00 !default;
$green: #42BA96 !default;
$teal: #5ac8fa !default;


//*-----------------------------------------------
//|   Theme Colors
//-----------------------------------------------*/
$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $teal !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-300 !default;
$dark: $gray-1100 !default;

$theme-colors: () !default;
$theme-colors: map_merge($theme-colors, (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
));

//*-----------------------------------------------
//|   Spacing
//-----------------------------------------------*/

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge($spacers, (
  0 : 0,
  1 : ($spacer * 0.25),
  2 : ($spacer * 0.5),
  3 : $spacer,
  4 : ($spacer * 1.8),
  5 : ($spacer * 3.0),
  6 : ($spacer * 4.0),
  7 : ($spacer * 5.0),
  8 : ($spacer * 7.5),
  9 : ($spacer * 10.0),
  10 : ($spacer * 12.5),
  11 : ($spacer * 15.0),
  12 : ($spacer * 18.0),
  13 : ($spacer * 21.0),
));

//*-----------------------------------------------
//|   Components
//-----------------------------------------------*/
$border-radius: 0.25rem !default;
$border-radius-soft: 0.375rem !default;
$border-radius-capsule: 3.125rem !default;


//*-----------------------------------------------
//|   Fonts Families
//-----------------------------------------------*/
$font-family-sans-serif: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace: 'SFMono-Regular', Menlo, Monaco, Consolas, "Liberation Mono","Courier New", monospace !default;
$font-family-base: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

//*-----------------------------------------------
//|   Body
//-----------------------------------------------*/
$body-bg: $gray-200 !default;
$body-color: $gray-800 !important;

//*-----------------------------------------------
//|   Badge
//-----------------------------------------------*/
$badge-padding-y: .355555em !default;
$badge-padding-x: .711111em !default;
$badge-pill-padding-x: .711111em !default;


$text-muted:                  $gray-500 !default;
$input-border-color:          $gray-200 !default;
$card-border-color:           rgba($white, .125) !default;

// Carousel

$carousel-control-color:             $primary !default;
$carousel-control-width:             15% !default;
$carousel-control-opacity:           .8 !default;
$carousel-control-hover-opacity:     .9 !default;
$carousel-control-transition:        opacity .15s ease !default;

$carousel-indicator-width:           30px !default;
$carousel-indicator-height:          3px !default;
$carousel-indicator-hit-area-height: 10px !default;
$carousel-indicator-spacer:          3px !default;
$carousel-indicator-opacity:         .5 !default;
$carousel-indicator-active-bg:       $white !default;
$carousel-indicator-active-opacity:  1 !default;
$carousel-indicator-transition:      opacity .6s ease !default;

$carousel-caption-width:             70% !default;
$carousel-caption-color:             $white !default;
$carousel-caption-padding-y:         1.25rem !default;
$carousel-caption-spacer:            1.25rem !default;

$carousel-control-icon-width:        20px !default;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'><path d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/></svg>") !default;
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'><path d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/></svg>") !default;

$carousel-transition-duration:       .6s !default;
$carousel-transition:                transform $carousel-transition-duration ease-in-out !default; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)