block append variables 
  -
    var pageHeader = [
      {
      title: 'Buttons',
      description: 'Use Falcon’s custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/buttons/`,
      linkText: 'Buttons on Bootstrap'
      },
    {
    title: 'Button Group\n',
    description: 'Group a series of buttons together on a single line with the button group, and super-power them with JavaScript.',
    url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/button-group/`,
    linkText: 'Button-Group on Bootstrap'
    },
    ]
  
mixin buttonBasic
  each color in colors
    button.btn(type='button' class=`btn-${color}`).mr-1.mb-1
      +cleanText(color)
    = '\n'
      
mixin buttonOutline
  each color in colors
    button.btn(type='button' class=`btn-outline-${color}`).mr-1.mb-1
      +cleanText(color)
    = '\n'
    
mixin buttonSize
  .btn.btn-secondary.btn-sm Small
  .btn.btn-secondary Regular
  .btn.btn-secondary.btn-lg Large

mixin buttonIcon
  button(type='button').btn.btn-primary.btn-sm.mr-1.mb-1
    = '\n'
    span.fas.fa-plus.mr-1(data-fa-transform="shrink-3")
    | Small
    = '\n'
  = '\n'
  button(type='button').btn.btn-primary.mr-1.mb-1
    = '\n'
    span.fas.fa-plus.mr-1(data-fa-transform="shrink-3")
    | Regular
    = '\n'
  = '\n'
  button(type='button').btn.btn-primary.btn-lg.mr-1.mb-1
    = '\n'
    span.fas.fa-plus.mr-1(data-fa-transform="shrink-3")
    | Large
    = '\n'
  = '\n'
  hr
  = '\n'

  button(type='button').btn.btn-primary.mr-1.mb-1
    = '\n'
    span.fas.fa-plus.mr-1(data-fa-transform="shrink-3")
    | Regular
    = '\n'
  = '\n'
  button(type='button').btn.btn-outline-primary.mr-1.mb-1
    = '\n'
    span.fas.fa-plus.mr-1(data-fa-transform="shrink-3")
    | Outline
    = '\n'
  hr
  = '\n'
  button(type='button').btn.btn-primary.mr-1.mb-1
    = '\n'
    | Delete
    span.fas.fa-trash.ml-1(data-fa-transform="shrink-3")
    = '\n'


mixin buttonCapsule
  button(type='button').btn.btn-primary.rounded-capsule.mr-1.mb-1 Example
    = '\n'
  button(type='button').btn.btn-primary.rounded-capsule.mr-1.mb-1
    = '\n'
    span.fas.fa-align-left.mr-1(data-fa-transform="shrink-3")
    | Icon Left
  = '\n'
  button(type='button').btn.btn-primary.rounded-capsule.mr-1.mb-1
    = '\n'
    | Icon Right
    span.fas.fa-align-right.ml-1(data-fa-transform="shrink-3")
    = '\n'
  button.ml-1(type='button').btn.btn-outline-primary.rounded-capsule.mr-1.mb-1 Outline
  = '\n'
  hr
  = '\n'
  button(type='button').btn.btn-sm.btn-primary.rounded-capsule.mr-1.mb-1 Capsule Small
  = '\n'
  button(type='button').btn.btn-primary.rounded-capsule.mr-1.mb-1 Capsule Regular
  = '\n'
  button(type='button').btn.btn-lg.btn-primary.rounded-capsule.mr-1.mb-1 Capsule Large
    
mixin buttonGroup
  .btn-group(role='group', aria-label='Basic example')
    = '\n'
    button.btn.btn-secondary(type='button') Left
    = '\n'
    button.btn.btn-secondary(type='button') Middle
    = '\n'
    button.btn.btn-secondary(type='button') Right
    = '\n'


mixin buttonToolbar
  .btn-toolbar(role='toolbar', aria-label='Toolbar with button groups')
    .btn-group.mr-2.mb-2(role='group', aria-label='First group')
      = '\n'
      button.btn.btn-secondary(type='button') 1
      = '\n'
      button.btn.btn-secondary(type='button') 2
      = '\n'
      button.btn.btn-secondary(type='button') 3
      = '\n'
      button.btn.btn-secondary(type='button') 4
      = '\n'
    .btn-group.mb-2.mr-2(role='group', aria-label='Second group')
      = '\n'
      button.btn.btn-secondary(type='button') 5
      = '\n'
      button.btn.btn-secondary(type='button') 6
      = '\n'
      button.btn.btn-secondary(type='button') 7
      = '\n'
    .btn-group.mb-2(role='group', aria-label='Third group')
      = '\n'
      button.btn.btn-secondary(type='button') 8
      = '\n'


mixin buttonToolbarWithInputGroup
  .btn-toolbar.mb-3(role='toolbar', aria-label='Toolbar with button groups')
    .btn-group.mb-2.mr-2(role='group', aria-label='First group')
      = '\n'
      button.btn.btn-secondary(type='button') 1
      = '\n'
      button.btn.btn-secondary(type='button') 2
      = '\n'
      button.btn.btn-secondary(type='button') 3
      = '\n'
      button.btn.btn-secondary(type='button') 4
      = '\n'
    .input-group.mb-2
      .input-group-prepend
        #btnGroupAddon.input-group-text @
      = '\n'
      input.form-control(type='text', placeholder='Input group example', aria-label='Input group example', aria-describedby='btnGroupAddon')
  .btn-toolbar.justify-content-between(role='toolbar', aria-label='Toolbar with button groups')
    .btn-group.mb-2(role='group', aria-label='First group')
      = '\n'
      button.btn.btn-secondary(type='button') 1
      = '\n'
      button.btn.btn-secondary(type='button') 2
      = '\n'
      button.btn.btn-secondary(type='button') 3
      = '\n'
      button.btn.btn-secondary(type='button') 4
    .input-group.mb-2
      .input-group-prepend
        #btnGroupAddon2.input-group-text @
      = '\n'
      input.form-control(type='text', placeholder='Input group example', aria-label='Input group example', aria-describedby='btnGroupAddon2')

mixin buttonGroupVertical
  .btn-group-vertical(role='group', aria-label='Vertical button group')
    = '\n'
    button.btn.btn-secondary(type='button') Button
    = '\n'
    button.btn.btn-secondary(type='button') Button
    = '\n'
    button.btn.btn-secondary(type='button') Button
    = '\n'
    button.btn.btn-secondary(type='button') Button
    = '\n'
    button.btn.btn-secondary(type='button') Button
    = '\n'
    button.btn.btn-secondary(type='button') Button
    = '\n'
mixin buttonGroupSize
  .btn-group.btn-group-lg(role='group', aria-label='...')
    = '\n'
    button.btn.btn-secondary(type='button') Left
    = '\n'
    button.btn.btn-secondary(type='button') Middle
    = '\n'
    button.btn.btn-secondary(type='button') Right
    = '\n'
  .btn-group.mt-2(role='group', aria-label='...')
    = '\n'
    button.btn.btn-secondary(type='button') Left
    = '\n'
    button.btn.btn-secondary(type='button') Middle
    = '\n'
    button.btn.btn-secondary(type='button') Right
    = '\n'
  .btn-group.btn-group-sm.mt-2(role='group', aria-label='...')
    = '\n'
    button.btn.btn-secondary(type='button') Left
    = '\n'
    button.btn.btn-secondary(type='button') Middle
    = '\n'
    button.btn.btn-secondary(type='button') Right
    = '\n'

    
mixin ButtonSize2
  .btn-toolbar.mb-3(role='toolbar', aria-label='Toolbar with button groups')
    .btn-group.mb-2.mr-2(role='group', aria-label='First group')
      = '\n'
      button.btn.btn-secondary(type='button') 1
      = '\n'
      button.btn.btn-secondary(type='button') 2
      = '\n'
      button.btn.btn-secondary(type='button') 3
      = '\n'
      button.btn.btn-secondary(type='button') 4
      = '\n'
    .input-group.mb-2
      .input-group-prepend
        #btnGroupAddon.input-group-text @
      = '\n'
      input.form-control(type='text', placeholder='Input group example', aria-label='Input group example', aria-describedby='btnGroupAddon')
  .btn-toolbar.justify-content-between(role='toolbar', aria-label='Toolbar with button groups')
    .btn-group.mb-2(role='group', aria-label='First group')
      = '\n'
      button.btn.btn-secondary(type='button') 1
      = '\n'
      button.btn.btn-secondary(type='button') 2
      = '\n'
      button.btn.btn-secondary(type='button') 3
      = '\n'
      button.btn.btn-secondary(type='button') 4
    .input-group.mb-2
      .input-group-prepend
        #btnGroupAddon2.input-group-text @
      = '\n'
      input.form-control(type='text', placeholder='Input group example', aria-label='Input group example', aria-describedby='btnGroupAddon2')


mixin buttonGroupVertical
  .btn-group-vertical(role='group', aria-label='Vertical button group')
    = '\n'
    button.btn.btn-secondary(type='button') Button
    = '\n'
    button.btn.btn-secondary(type='button') Button
    = '\n'
    button.btn.btn-secondary(type='button') Button
    = '\n'
    button.btn.btn-secondary(type='button') Button
    = '\n'
    button.btn.btn-secondary(type='button') Button
    = '\n'
    button.btn.btn-secondary(type='button') Button
    = '\n'


mixin buttonGroupVerticalWithDropdown
  .btn-group-vertical(role='group', aria-label='Vertical button group')
    = '\n'
    button.btn.btn-secondary(type='button') Button
    = '\n'
    button.btn.btn-secondary(type='button') Button
    = '\n'
    .btn-group(role='group')
      = '\n'
      button#btnGroupVerticalDrop1.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        | Dropdown
      .dropdown-menu(aria-labelledby='btnGroupVerticalDrop1')
        = '\n'
        a.dropdown-item(href='#') Dropdown link
        = '\n'
        a.dropdown-item(href='#') Dropdown
        = '\n'
    = '\n'
    button.btn.btn-secondary(type='button') Button
    = '\n'
    button.btn.btn-secondary(type='button') Button
    = '\n'
    .btn-group(role='group')
      = '\n'
      button#btnGroupVerticalDrop2.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        | Dropdown

      .dropdown-menu(aria-labelledby='btnGroupVerticalDrop2')
        a.dropdown-item(href='#') Dropdown link
        = '\n'
        a.dropdown-item(href='#') Dropdown link
        = '\n'
    .btn-group(role='group')
      = '\n'
      button#btnGroupVerticalDrop3.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        | Dropdown
      = '\n'
      .dropdown-menu(aria-labelledby='btnGroupVerticalDrop3')
        a.dropdown-item(href='#') Dropdown link
        = '\n'
        a.dropdown-item(href='#') Dropdown link
        = '\n'
    .btn-group(role='group')
      = '\n'
      button#btnGroupVerticalDrop4.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        | Dropdown
      .dropdown-menu(aria-labelledby='btnGroupVerticalDrop4')
        = '\n'
        a.dropdown-item(href='#') Dropdown link
        = '\n'
        a.dropdown-item(href='#') Dropdown link
        = '\n'  
