block append variables
  -
    var pageHeader = {
      title: 'Collapse',
      description: "Toggle the visibility of content with a few classes and Bootstrap's JavaScript plugins.",
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/collapse/`,
      linkText: 'Collapse on Bootstrap'
    }

mixin accordionExample
  #accordionExample.accordion
    .card
      #headingOne.card-header.border-bottom
        h5.mb-0
          button.btn.btn-link.p-0(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
            | Collapsible Group Item #1
      #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
        .card-body
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    .card
      #headingTwo.card-header.border-bottom
        h5.mb-0
          button.btn.btn-link.p-0.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
            | Collapsible Group Item #2
      #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
        .card-body
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    .card
      #headingThree.card-header.border-bottom
        h5.mb-0
          button.btn.btn-link.p-0.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
            | Collapsible Group Item #3
      #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
        .card-body
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.