block append variables
  -
    var pageHeader = {
      title: 'Popovers',
      description: "Documentation and examples for showing pagination to indicate a series of related content exists across multiple pages.",
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/popovers/`,
      linkText: 'Popovers on Bootstrap'
    }
  
mixin popover(val)
  button.btn.btn-secondary.m-1(type='button' data-container='body' data-toggle='popover' data-placement=val data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.') Popover on #{val}
  = '\n'
  