block append variables
  -
    var pageHeader = {
      title: 'Tables',
      description: "Documentation and examples for opt-in styling of tables with Falcon.",
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/content/tables/`,
      linkText: 'Tables on Bootstrap'
    }

mixin table(config)
  table.table&attributes(attributes)
    thead(class=`${config}`)
      tr
        th(scope='col') #
        th(scope='col') First
        th(scope='col') Last
        th.white-space-nowrap(scope='col') Handle
    tbody
      tr
        th(scope='row') 1
        td Steven
        td Speilberg
        td.white-space-nowrap @mdo
      tr
        th(scope='row') 2
        td Martin
        td Scorsese
        td.white-space-nowrap @fat
      tr
        th(scope='row') 3
        td James
        td Cameron
        td.white-space-nowrap @twitter