block append variables
  -
    var pageHeader = {
      title: 'Tooltips',
      description: 'Documentation and examples for adding ZiON-v6.1.0 tooltips with CSS and JavaScript using CSS3 for animations and data-attributes for local title storage.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/tooltips/`,
      linkText: 'Tooltips on Bootstrap'
    }



mixin tooltips(config)
  button.btn.btn-secondary.btn-sm.m-1(type='button', data-toggle='tooltip', data-placement=config.placement, title=config.text)&attributes(attributes)
    = '\n'
    | #{config.text}
    = '\n'
  = '\n'
