mixin aboutSection
	.container
		.row.align-items-center.justify-content-between#about
			.col-12.col-md-6.col-lg-7.order-md-2
				//-- Heading
				h2
					| Carefuly crafted components 
				h2
					span.text-success.pr-1 ready to use in your project 
					span.text-success.element.typed-cursor
				p.font-size-lg.text-muted.mb-4.mb-md-3.pr-lg-5
					| 2 Million+ users like you from all around the globe use our products & services regularly. Our work doesn't end with the making of excellent products and services, we continue to thrive by helping clients and companies to transform as well.
				.row
					.col-12.col-lg-4
						.d-flex
							span.badge.align-items-center.pl-0
								<svg class="bi bi-check-circle" width="1.1em" height="1.1em" viewBox="0 0 16 16" fill="#389E7F" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
								<path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
								</svg>
							p.text-success
								| Lifetime free updates
						.d-flex
							span.badge.align-items-center.pl-0
								<svg class="bi bi-check-circle" width="1.1em" height="1.1em" viewBox="0 0 16 16" fill="#389E7F" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
								<path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
								</svg>
							p.text-success
								| Based on Bootstrap 5
					.col-12.col-lg-6.mb-4.mb-md-0
						.d-flex
							span.badge.align-items-center.pl-0
								<svg class="bi bi-check-circle" width="1.1em" height="1.1em" viewBox="0 0 16 16" fill="#389E7F" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
								<path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
								</svg>
							p.text-success
								| Tech support
						.d-flex
							span.badge.align-items-center.pl-0
								<svg class="bi bi-check-circle" width="1.1em" height="1.1em" viewBox="0 0 16 16" fill="#389E7F" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
								<path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
								</svg>
							p.text-success
								| Fully Responsive
				//- .row
			.col-12.col-md-6.col-lg-5.order-md-1(style="max-width: 26rem")
				//- Card
				.card.hvr-float-shadow.border-0.pb-2(style="width: 100%")
					img.card-img-top.card-img-custom(src=`${CWD}assets/img/gallery/photo-2.png` alt='...')
					.card-body.px-4
						form
							.form-group
								input#cardName.form-control(type='text' placeholder='Name')
								label(for='cardName')
							.form-group
								input#cardEmail.form-control(type='email' placeholder='Email')
								label(for='cardEmail')
							.form-group
								input#cardPassword.form-control(type='password' placeholder='Password')
								label(for='cardPassword')
								button.btn.btn-block.btn-success.py-2(type='submit')
									| Download a sample
		//-.row
		.row.experience.align-items-center.py-md-8.py-5
			.col-12.col-md-7.col-lg-6
				//- Heading
				h2
					| We are a company of passionate
					br
					span.text-primary designers and developers
					| .
				p.text-muted.mb-4.mb-md-4
					| Hundreds of thousands of the developers and website owners build their website using the templates from ThemeWagon.
				.d-flex
					.img-fluid
						img(src=`${CWD}assets/img/gallery/folder_plus.png` alt='...')
					.ml-3
						h4.mb-1
							| Build fast, responsive sites with Bootstrap
						p.text-muted.mb-4.mb-md-3
							| Every team member believes in excellence and you will find the reflection of our belief in our product, services, support and even the coffee we make.
				.d-flex
					.img-fluid
						img(src=`${CWD}assets/img/gallery/layer.png` alt='...')
					.ml-3
						h4.mb-1
							| Start your project with us
						p.text-muted.mb-4.mb-md-0
							| Our work doesn't end with the making of excellent products and services, we continue to thrive by helping clients and companies to transform as well.
			.col-12.col-md-5.col-lg-6
				img.img-fluid(src=`${CWD}assets/img/gallery/falcon.png` alt='...' style='max-width: 620px; ')
