mixin cta
		.container
			.row.justify-content-center
				.col-12.col-md-10.col-lg-8.text-center.mt-5
					//- Badge
					span.badge.mb-4.bg-1000.font-weight-normal.text-uppercase.text-500 Get started
					//- Heading
					h1.display-4.text-white
						| Get Landkit and save your time.
					//- Text
					p.font-size-lg.text-muted.mb-4.mb-md-6
						| Stop wasting time trying to do it the &quot;right way&quot; and build a site from scratch. Landkit is faster, easier, and you still have complete control.
					//- Button
					a.btn.btn-success.lift.hvr-float(href='!#' target='_blank')
						| Buy it now 
						i.fas.fa-arrow-right.d-none.d-md-inline.ml-2
						
					
		