mixin cta
		.container
			.row.justify-content-center
				.col-12.col-md-10.col-lg-8.text-center.mt-8
					//- Badge
					span.badge.mb-4.font-weight-normal.text-uppercase.bg-light.text-primary Get started
					//- Heading
					h1.display-6.text-white
						| Get Bridge and save your time.
					//- Text
					p.font-size-lg.text-muted.mb-4.mb-md-6
						| our team has front-end and back-end experience to design and build intuitive systems that stores and presents a ton of information in the most user-friendly way.
					//- Button
					a.btn.btn-success.lift.hvr-float.p-md-3(href='!#' target='_blank')
						| Buy it now 
						<svg class="bi bi-arrow-right-short" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z"/>
							<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z"/>
						</svg>
						
						
					
		