mixin faq 
	.container.pt-6.pt-md-10
		.row
			.col-12.col-md-6
				//- Item
				.d-flex.mb-6
					//- Badge
					div.badge.badge-lg.badge-rounded-circle.badge-success
						span ?
					.ml-4
						//- Heading
						h4.text-white
							| Do I get free updates?
						//- Text
						p.text-muted.mb-6.mb-md-0
							| Yes. We update all of our themes with each Bootstrap update, plus are constantly adding new components, pages, and features to our themes.
				//- Item
				.d-flex
					//- Badge
					div.badge.badge-lg.badge-rounded-circle.badge-success
						span ?
					.ml-4
						//- Heading
						h4.text-white
							| Do I get free updates?
						//- Text
						p.text-muted.mb-6.mb-md-0
							| Yes. We update all of our themes with each Bootstrap update, plus are constantly adding new components, pages, and features to our themes.
			.col-12.col-md-6
				//- Item
				.d-flex.mb-6
					//- Badge
					div.badge.badge-lg.badge-rounded-circle.badge-success
						span ?
					.ml-4
						//- Heading
						h4.text-white
							| Do I get free updates?
						//- Text
						p.text-muted.mb-6.mb-md-0
							| Yes. We update all of our themes with each Bootstrap update, plus are constantly adding new components, pages, and features to our themes.
				//- Item
				.d-flex
					//- Badge
					div.badge.badge-lg.badge-rounded-circle.badge-success
						span ?
					.ml-4
						//- Heading
						h4.text-white
							| Does it work with Rails? React? Laravel?
						//- Text
						p.text-muted.mb-6.mb-md-0
							| Yes. Landkit has basic CSS/JS files you can include. If you want to enable deeper customization, you can integrate it into your assets pipeline or build processes.
		//- .row
		//- .container