mixin features
	.container
		.row#feature
			.col-12.col-md-4
				//- Icon
				.mb-3
					img(src=`${CWD}assets/img/gallery/speed.png` alt='...').mw-100.img-fluid
				//- Heading
				h3(style='font-size: 1.3125rem;')
					| Get off to a quick start
				//- Text
				p.text-muted.mb-3.mb-md-6.mb-md-0
					| Base UI is the best starting point for your promo site. Just choose a template you like, insert your content and use.
			.col-12.col-md-4
				//- Icon
				.mb-3
					img(src=`${CWD}assets/img/gallery/changelog.png` alt='...').mw-100.img-fluid
				//- Heading
				h3(style='font-size: 1.3125rem;')
					| All-in-one design workflow
				//- Text
				p.text-muted.mb-3.mb-md-6.mb-md-0
					| Explore early concepts or pioneer new design patterns - an entire design workflow in one smart tool.
			.col-12.col-md-4
				//- Icon
				.mb-3
					img(src=`${CWD}assets/img/gallery/bolt.png` alt='...').mw-100.img-fluid
				//- Heading
				h3(style='font-size: 1.3125rem;')
					| Next-generation design 
				//- Text
				p.text-muted.mb-0.mb-4
					| Designing with base UI is a smooth experience all around. pick your screens, adjust a hue, control typefaces.