mixin features
	.container
		.row#feature
			.col-12.col-md-4
				//- Icon
				.mb-3
					img(src=`${CWD}assets/img/gallery/speed.png` alt='...').img-fluid
				//- Heading
				h5
					| Get off to a quick start
				//- Text
				p.text-muted.mb-3.mb-md-6.mb-md-0
					| This is the Best starting point for your project. Just choose a template you like, insert your content, and use it.
			.col-12.col-md-4
				//- Icon
				.mb-3
					img(src=`${CWD}assets/img/gallery/changelog.png` alt='...').img-fluid
				//- Heading
				h5
					| All-in-one design workflow
				//- Text
				p.text-muted.mb-3.mb-md-6.mb-md-0
					| Creating with Bridge is a smooth experience all around. Just pick your screens, adjust a hue, control typefaces.
			.col-12.col-md-4
				//- Icon
				.mb-3
					img(src=`${CWD}assets/img/gallery/bolt.png` alt='...').img-fluid
				//- Heading
				h5
					| Next-generation design 
				//- Text
				p.text-muted.mb-0.mb-4
					| Explore early concepts with new design patterns. This is an entire design workflow in one smart tool.