mixin pricingCard
  .container
    .row.justify-content-center#pricing
      .col-12.text-center.pb-5
        //-Heading
        h1
          | Choose your best plan.
        //- Text
        p.lead.text-muted
          | Millions of users are using the themes and templates created<br> by the super talented and passionate web design team.
    .row.align-items-center.no-gutters.pricing.px-3.px-sm-0
      .col-12.col-md-6(style='z-index:1;')
        //- Card
        .card#monthly.rounded-lg.mb-6.mb-md-0.border-0(style='z-index: 1;')
          //- Body
          .card-body.py-6
            .row.justify-content-center
              .col-12.col-xl-9
                //-Badge
                .text-center.mb-5
                  span.badge.badge-light.bg-light.font-weight-normal.text-uppercase.text-primary Standard
                //- Price
                .d-flex.justify-content-center
                  span.h2.mb-0.mt-2 $
                  span.price.display-3.mb-0.font-weight-normal(data-annual='29' data-monthly='49') 29
                  span.h2.align-self-end.mb-1 /mo
                //- Text
                p.text-center.text-muted.mb-2.mb-md-4
                  | per seat
                  
                //- Features
                .d-flex.text-center
                  //- Check
                  .badge.mt-1
                    <svg class="bi bi-check-circle" width="1.1em" height="1.1em" viewBox="0 0 16 16" fill="#389E7F" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                    </svg>
                  //- Text
                  p.text-center
                    | Fully Responsive design
                .d-flex
                  //- Check
                  span.badge.mt-1
                    <svg class="bi bi-check-circle" width="1.1em" height="1.1em" viewBox="0 0 16 16" fill="#389E7F" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                    </svg>
                  //- Text
                  p
                    | 100+ Unique layouts
                .d-flex
                  //- Check
                  span.badge.mt-1
                    <svg class="bi bi-check-circle" width="1.1em" height="1.1em" viewBox="0 0 16 16" fill="#389E7F" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                    </svg>
                  //- Text
                  p
                    | Based on Bootstrap 5
                .d-flex
                  //- Check
                  span.badge.mt-1
                    <svg class="bi bi-check-circle" width="1.1em" height="1.1em" viewBox="0 0 16 16" fill="#389E7F" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                    </svg>
                  //- Text
                  p
                    | Lifetime free updates
                .d-flex
                  //- Check
                  span.badge.mt-1
                    <svg class="bi bi-check-circle" width="1.1em" height="1.1em" viewBox="0 0 16 16" fill="#389E7F" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                    </svg>
                  //- Text
                  p.mb-0
                    | 12 months free support included
            //-.row
          //- Button
          a.card-btn.btn.btn-block.btn-lg.btn-primary.border-0.p-md-3(href='#!')
            | Get it now
      //- Enterprise Card
      .col-12.col-md-6
        //- Card
        .card.rounded-lg.shadow.border-0.pt-4.pt-lg-6
          //- Body
          .card-body.py-6.py-md-8
            .row.justify-content-center
              .col-12.col-xl-10
                //- Badge
                p.text-center.my-4
                  span.badge.badge-light.bg-light.font-weight-normal.text-uppercase.text-primary Enterprise
                //- Text
                p.text-center.text-muted.bg-white
                  | There are way too many companies that have set up pricing tables with “packages” for their products without a solid understanding of the psychology behind package design.
            //-.row
          //- Button
          a.card-btn.btn.btn-block.btn-lg.bg-light.p-md-3(href='#!')
            | Contact us
      //- Enterprise Card End
    //-.row
  //- .container