mixin stats
	.container
		.row.align-items-center
			.col-12.col-md-5.col-lg-6.order-md-2
				//- Image
				img.img-fluid.mb-6.mb-md-0(src=`${CWD}assets/img/gallery/illustration-4.png` alt='...')
			.col-12.col-md-7.col-lg-6.order-md-1
				//- Heading
				h2
					| Set projects to excellence. 
					br
					span.text-primary Let us handle the design
					| .
				//-Text
				p.font-size-lg.text-muted.my-3
					| Our team always enjoys interesting projects that are challenging and original. No matter the task is, we are up to it. While we have the ability of learning new things quickly and can take on just anything you throw at us, here are a few areas we specialize in.
				//- Stats
				.d-flex
					.pr-5
						h3.mb-0
							span.counter 100
							| %
						p.text-muted.mb-0
							| Satisfaction
					.border-left
					.px-5
						h3.mb-0
							span.counter 24
							| /
							span.counter 7
						p.text-muted.mb-0
							| Support
					.border-left.border-gray-300
					.pl-5
						h3.mb-0
							span.counter 100
							| k+
						p.text-muted.mb-0
							| Sales
	