mixin stats
	.container
		.row.align-items-center
			.col-12.col-md-5.col-lg-6.order-md-2
				//- Image
				img.img-fluid.mb-6.mb-md-0(src=`${CWD}assets/img/gallery/illustration-2.png` alt='...')
			.col-12.col-md-7.col-lg-6.order-md-1
				//- Heading
				h2
					| Stay focused on your business. 
					br
					span.text-primary Let us handle the design
					| .
				//-Text
				p.font-size-lg.text-gray-700.mb-6
					| You have a business to run. Stop worring about cross-browser bugs, designing new pages, keeping your components up to date. Let us do that for you.
				//- Stats
				.d-flex
					.pr-5
						h3.mb-0
							span.counter 100
							| %
						p.text-gray-700.mb-0
							| Satisfaction
					.border-left.border-gray-300
					.px-5
						h3.mb-0
							span.counter 24
							| /
							span.counter 7
						p.text-gray-700.mb-0
							| Support
					.border-left.border-gray-300
					.pl-5
						h3.mb-0
							span.counter 100
							| k+
						p.text-gray-700.mb-0
							| Sales
		//-.row
		//-.container
	