mixin welcome
	.container
		.row.align-items-center
			.col-12.col-md-5.col-lg-6.order-md-2
				//- Image
				img.img-fluid(src=`${CWD}assets/img/gallery/illustration-4.png` alt='...')
			.col-12.col-md-7.col-lg-6.order-md-1.py-3.py-md-9
				//- Heading
				h1.display-6.text-center.text-md-left
					| Welcome to 
					span.text-primary Bridge
					| . 
					br
					| &#x9;&#x9;&#x9;&#x9;Lets create the future.
				//-Text
				p.lead.text-center.text-md-left.text-muted.mb-3.mb-lg-3
					| Build beautiful websites with a clean Bootstrap 5 theme. We present to you the first and most compelling fresh website template.
				//-Buttons
				.text-center.text-md-left.pt-4
					a.btn.btn-primary.shadow.mr-3.p-md-3(href='#')
						| View all pages 
						<svg class="bi bi-arrow-right-short ml-2" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z"/>
						<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z"/>
						</svg>
						//-i.fas.fa-arrow-right.d-none.d-md-inline.ml-2
					a.btn.btn-light.text-primary.shadow.hvr-float.py-md-3.px-md-4(href='#')
						| Get Started