mixin welcome
	.container
		.row.align-items-center
			.col-12.col-md-5.col-lg-6.order-md-2
				//- Image
				img.img-fluid(src=`${CWD}assets/img/gallery/illustration-1.png` alt='...'  data-zanim-xs='{"delay":0.7,"duration":0.7,"ease":"Power2.easeOut","from":{"y":20,"opacity":0},"to":{"y":0,"opacity":1}}')
			.col-12.col-md-7.col-lg-6.order-md-1.py-8( data-zanim-lg='{"delay":1.2,"duration":0.7,"ease":"Power2.easeOut","from":{"y":-20,"opacity":0},"to":{"y":0,"opacity":1}}')
				//- Heading
				h1.display-5.text-center.text-md-left
					| Welcome to 
					span.text-primary Bridge
					| . 
					br
					| &#x9;&#x9;&#x9;&#x9;Lets create the future.
				//-Text
				p.lead.text-center.text-md-left.text-muted.mb-3.mb-lg-3
					| Build an awesome, beautiful, modern website with a clean and accessible Bootstrap theme. We bring you the best and most compelling clean website templates.
				//-Buttons
				.text-center.text-md-left.pt-4
					a.btn.btn-primary.shadow.mr-1.hvr-float(href='#')
						| View pages 
						i.fas.fa-arrow-right.d-none.d-md-inline.ml-2
					a.btn.btn-light.text-primary.lift.hvr-float(href='#')
						| Get Started